.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid rgb(239, 239, 240);
}
.header_logo{
    object-fit: contain;
    height: 48px;
}

.header_icon{
    padding: 10px;
}